body {
  background: black;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: yellow;
  font-size: 100px;
  font-family: Roboto;
  letter-spacing: 10px;
}
